* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: rgba(28, 28, 28, 0);
    color: #dfdfdf;
}

tooltip {
    background: #1c1c1c;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #252525;
}

#workspaces button {
    padding: 5px;
    color: #404040;
    margin-right: 5px;
}

#workspaces button.active {
    color: #dfdfdf;
}

#workspaces button.focused {
    color: #1c1c1c;
    background: #729a72;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #1c1c1c;
    background: #976061;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #252525;
    color: #eeeeee;
    border-radius: 10px;
}

#custom-power_profile,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#workspaces,
#tray,
#backlight,
#cpu,
#memory {
    background: #252525;
    opacity: 0.8;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 10px;
    border: 1px solid #1c1c1c;
}

/* Grupo 1: CPU + Memory + Power Profile */
#cpu {
    color: #976061;
    border-radius: 10px 0px 0px 10px;
    margin-left: 10px;
    border-right: 0px;
}

#memory {
    color: #729a72;
    border-left: 0px;
    border-right: 0px;
}

#custom-power_profile {
    border-radius: 0px 10px 10px 0px;
    margin-right: 5px;
    border-left: 0px;
}

/* Grupo 2: Network + Bluetooth */
#network {
    color: #a4965f;
    border-radius: 10px 0px 0px 10px;
    margin-left: 5px;
    border-right: 0px;
}

#bluetooth {
    color: #72949a;
    border-radius: 0px 10px 10px 0px;
    margin-right: 5px;
    border-left: 0px;
}

/* Grupo 3: Audio + Micrófono */
#pulseaudio {
    color: #729a96;
    border-radius: 10px 0px 0px 10px;
    margin-left: 5px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: #8c729a;
    border-radius: 0px 10px 10px 0px;
    margin-right: 5px;
    border-left: 0px;
}

/* Grupo 4: Battery (sola) */
#battery {
    color: #729a72;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

/* Grupo 5: Backlight (sola) */
#backlight {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#workspaces {
    background: #252525;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#custom-power_profile.quiet {
    color: #729a72;
}

#custom-power_profile.balanced {
    color: #dfdfdf;
}

#custom-power_profile.performance {
    color: #976061;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: #a49a72;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
